.questionnare {
  display: "flex";
  flex-direction: "column";
  border: 1px solid red;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.tagForm {
  display: "flex";
  border: 1px solid red;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.titleForm {
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.tag {
  display: "flex";
  flex-direction: "row";
  justify-content: "center";
}

.form {
}

.button {
  margin: 10px;
}
